<ion-view title="Emergency kit" id="page28">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[9].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[10].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[11].description}}
		</p>
		<br />
		
		
			<p style="font-size:120%; color:#5c5c3d">
				<input type="checkbox" style="font-size:120%; color:#5c5c3d">
				{{description[12].description}}
			</p>
		<br>
		<!--
		<p style="font-size:120%; color:#5c5c3d">
			{{description[12].description}}
		</p>-->
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[13].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[14].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[15].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[16].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[17].description}}
		</p>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[18].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[19].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[20].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[21].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[22].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[23].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[24].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[25].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[26].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[27].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[28].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[29].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[30].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[31].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[32].description}}
		</p>
	</ion-content>
</ion-view>