<ion-view title="Emergency" id="page2">
    <ion-content class="padding" data-ng-init="newTask()">
		<div>
		  <h5 class="title" style="color:#1f1f14">Learn first aid for..</h5>
		</div>
        <a ui-sref="tabs.allergiesAnaphylaxis" id="emergency-button2" class="button button-stable  button-block">{{categories[0].name}}</a>
        <a ui-sref="tabs.asthmaAttack" id="emergency-button3" class="button button-stable  button-block">{{categories[1].name}}</a>
        <a ui-sref="tabs.bleeding" id="emergency-button4" class="button button-stable  button-block">{{categories[2].name}}</a>
        <a ui-sref="tabs.brokenBone" id="emergency-button5" class="button button-stable  button-block">{{categories[3].name}}</a>
        <a ui-sref="tabs.burns" id="emergency-button12" class="button button-stable  button-block">{{categories[4].name}}</a>
        <a ui-sref="tabs.choking" id="emergency-button6" class="button button-stable  button-block">{{categories[5].name}}</a>
        <a ui-sref="tabs.diabeticEmergency" id="emergency-button7" class="button button-stable  button-block">{{categories[6].name}}</a>
        <a ui-sref="tabs.distress" id="emergency-button8" class="button button-stable  button-block">{{categories[7].name}}</a>
        <a ui-sref="tabs.harmfulSubstances" id="emergency-button16" class="button button-stable  button-block">{{categories[8].name}}</a>
        <a ui-sref="tabs.headInjury" id="emergency-button9" class="button button-stable  button-block">{{categories[9].name}}</a>
        <a ui-sref="tabs.heartAttack" id="emergency-button10" class="button button-stable  button-block">{{categories[10].name}}</a>
        <a ui-sref="tabs.heatStroke" id="emergency-button11" class="button button-stable  button-block">{{categories[11].name}}</a>
        <a ui-sref="tabs.hypothermia" id="emergency-button14" class="button button-stable  button-block">{{categories[12].name}}</a>
        <a ui-sref="tabs.meningitis" id="emergency-button15" class="button button-stable  button-block">{{categories[13].name}}</a>
        <a ui-sref="tabs.seizureEpilepsy" id="emergency-button17" class="button button-stable  button-block">{{categories[14].name}}</a>
        <a ui-sref="tabs.shock" id="emergency-button18" class="button button-stable  button-block">{{categories[15].name}}</a>
        <a ui-sref="tabs.stroke" id="emergency-button24" class="button button-stable  button-block">{{categories[16].name}}</a>
        <a ui-sref="tabs.stingBites" id="emergency-button19" class="button button-stable  button-block">{{categories[17].name}}</a>
        <a ui-sref="tabs.strainsAndSprains" id="emergency-button20" class="button button-stable  button-block">{{categories[18].name}}</a>
        <a ui-sref="tabs.unconsciousBreathing" id="emergency-button22" class="button button-stable  button-block">{{categories[19].name}}</a>
        <a ui-sref="tabs.unconsciousNotBreathing" id="emergency-button21" class="button button-stable  button-block">{{categories[20].name}}</a>
    </ion-content>
</ion-view>