<ion-view title="Emergency kit" id="page28">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[9].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Some suggested items to get started with...</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[10].description}}
		</p>
		
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[11].description}}
		</p>
		<br />
		
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[12].description}}
		</p>
		<!--
		<p style="font-size:120%; color:#5c5c3d">
			{{description[12].description}}
		</p>-->
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[13].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[14].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[15].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[16].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[17].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[18].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[19].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[20].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[21].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[22].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[23].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[24].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[25].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[26].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[27].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[28].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[29].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[30].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[31].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[32].description}}
		</p>
	</ion-content>
</ion-view>