<ion-view title="Everyday emergency" id="page30">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[33].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[34].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[35].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[36].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[37].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[38].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">During</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[39].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[40].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[41].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[42].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[43].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[44].description}}
		</p>
		
	</ion-content>
</ion-view>