<ion-view title="Fire" id="page31">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[45].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[46].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[47].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[48].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[49].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">During</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[50].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[51].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[52].description}}
		</p>
		<br />
	</ion-content>
</ion-view>