<ion-view title="Flooding" id="page32">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[53].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[54].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[55].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[56].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[57].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[58].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[59].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[60].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Returning home - before</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[61].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[62].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[63].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Returning home - In the home</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[64].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[65].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[66].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[67].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Returning home - Cleanup</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[68].description}}
		</p>
	</ion-content>
</ion-view>