<ion-view title="Food safety" id="page34">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[78].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">How to treat water</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[79].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[80].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[81].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[82].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[83].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[84].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[85].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[86].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[87].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[88].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[89].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Preserve food when the power is out</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[90].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[91].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[92].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[93].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[94].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[95].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[96].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[97].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Identify unsafe food</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[97].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[98].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[99].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[100].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[101].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[102].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[103].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Clean and sanitize food contact surfaces</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[104].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[105].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[106].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Contaminated water</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[107].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[108].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[109].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[110].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[111].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[112].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[113].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[114].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[115].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Clean and sanitize water-storage containers</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[116].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[117].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[118].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[119].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[120].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[121].description}}
		</p>
		<br />
	</ion-content>
</ion-view>