<ion-view title="Land slide" id="page35">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[122].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[123].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[124].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[125].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[126].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">During</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[127].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[128].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[129].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">After</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[130].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[131].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[132].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[133].description}}
		</p>
		<br />
	</ion-content>
</ion-view>