<ion-view title="Pet preparedness" id="page37">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[150].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">How can I prepare</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[151].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[152].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[153].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[154].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[155].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[156].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">What should I do</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[157].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[158].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[159].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[160].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[161].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[162].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[163].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[164].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[165].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">As the disaster approaches</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[166].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[167].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[168].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[169].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[170].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">After</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[171].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[172].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[173].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[174].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[175].description}}
		</p>
		<br />
	</ion-content>
</ion-view>