<ion-view title="Power outage" id="page36">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[134].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Before checklist</h5>
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[135].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[136].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			<input type="checkbox">
			{{description[137].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">During - food</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[138].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[139].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[140].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[141].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">During - electrical equipment</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[142].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[143].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Using generators safety</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[144].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[145].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Carbon monoxide kills</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[146].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[147].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">When power returns</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[148].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[149].description}}
		</p>
		<br />
		
	</ion-content>
</ion-view>