<ion-view title="Prepare" id="page3">
    <ion-content class="padding" data-ng-init="newTask()">
		<h5 class="title" style="color:#1f1f14">Prepare for emergencies</h5>
        <a ui-sref="tabs.chemicalEmergency" id="prepare-button25" class="button button-stable  button-block">{{categories[0].name}}</a>
        <a ui-sref="tabs.emergencyKit" id="prepare-button26" class="button button-stable  button-block">{{categories[1].name}}</a>
        <a ui-sref="tabs.everydayEmergency" id="prepare-button27" class="button button-stable  button-block">{{categories[2].name}}</a>
        <a ui-sref="tabs.fire" id="prepare-button28" class="button button-stable  button-block">{{categories[3].name}}</a>
        <a ui-sref="tabs.flooding" id="prepare-button29" class="button button-stable  button-block">{{categories[4].name}}</a>
        <a ui-sref="tabs.fluPandemic" id="prepare-button32" class="button button-stable  button-block">{{categories[5].name}}</a>
        <a ui-sref="tabs.foodSafety" id="prepare-button33" class="button button-stable  button-block">{{categories[6].name}}</a>
        <a ui-sref="tabs.landSlide" id="prepare-button30" class="button button-stable  button-block">{{categories[7].name}}</a>
        <a ui-sref="tabs.powerOutage" id="prepare-button36" class="button button-stable  button-block">{{categories[8].name}}</a>
        <a ui-sref="tabs.petPreparedness" id="prepare-button31" class="button button-stable  button-block">{{categories[9].name}}</a>
        <a ui-sref="tabs.waterSafety" id="prepare-button35" class="button button-stable  button-block">{{categories[10].name}}</a>
        <a ui-sref="tabs.workplaceEmergencies" id="prepare-button34" class="button button-stable  button-block">{{categories[11].name}}</a>
    </ion-content>
</ion-view>