<ion-view view-title="Prepare">
  <ion-content class="padding" data-ng-init="newTask()">
      <div>
		  <h5 class="title" style="color:#5c5c3d">Prepare for emergencies</h5>
	  </div>
	  <button class="button button-full button-Stable" ng-click="">{{categories[0].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[1].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[2].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[3].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[4].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[5].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[6].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[7].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[8].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[9].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[10].name}}</button>
	  <button class="button button-full button-Stable" ng-click="">{{categories[11].name}}</button>
  </ion-content>
</ion-view>
