<ion-view title="Water safety" id="page38">
    <ion-content class="padding" data-ng-init="newTask()">
		<p style="font-size:120%; color:#5c5c3d">
			{{description[176].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Make water safety your priority</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[177].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[178].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[179].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[180].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Prevent Unsupervised Access to the Water</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[181].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[182].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[183].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[184].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Maintain Constant Supervision</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[185].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[186].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[187].description}}
		</p>
		<br />
		<h5 class="title" style="color:#1f1f14">Know what to do</h5>
		<p style="font-size:120%; color:#5c5c3d">
			{{description[188].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[189].description}}
		</p>
		<br />
		<p style="font-size:120%; color:#5c5c3d">
			{{description[190].description}}
		</p>
		<br />
	</ion-content>
</ion-view>